/*
 * Buttons
 */

.w-btn,
.button,
button[type="submit"],
input[type="submit"] {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	line-height: 1.2; /* fallback value */
	position: relative;
	transition-property: background, border, box-shadow, color, opacity, transform;
	transition-duration: 0.3s;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
.w-btn,
.button {
	padding: 0.8em 1.8em; /* fallback value */
	}
input[type="submit"] {
	border-style: solid; /* fallback value */
	}
	.w-btn i {
		display: inline-block;
		vertical-align: top;
		line-height: inherit;
		}
	.w-btn.icon_atleft i {
		margin-right: 0.5em;
		}
	.w-btn.icon_atright i {
		margin-left: 0.5em;
		}
	.w-btn.text_none i {
		margin: 0 !important;
		width: 1.2em;
		}
	/* element to show outline */
	.w-btn:before,
	.button:before,
	button[type="submit"]:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: inherit;
		border-style: solid;
		border-color: inherit;
		border-image: inherit;
		}
.links_underline a.w-btn {
	border-width: 0 !important;
	}

/* Button Wrapper */
.w-btn-wrapper {
	margin: 0.3rem 0;
	}
.w-btn-wrapper.align_none {
	display: inline-block;
	vertical-align: top;
	}
*:not(.w-hwrapper) > .w-btn-wrapper.align_none {
	margin-right: 0.6rem;
	}
.w-btn-wrapper.align_justify > .w-btn {
	width: 100%;
	}

/* Badge style by default */
.us-btn-style_badge {
	padding: 0.7em 1.2em;
	border-radius: 5em;
	background: var(--color-content-primary-grad);
	color: #fff !important;
	}
.no-touch .us-btn-style_badge:hover {
	background: var(--color-content-secondary-grad);
	}
	.us-btn-style_badge:before {
		display: none;
		}

/* Rounded Corners
   ========================================================================== */
.rounded_none .us-btn-style_badge {
	border-radius: 0 !important;
	}
