/* 
 * Vertical Wrapper
 */

.w-vwrapper {
	display: flex;
	flex-direction: column;
	}

.w-vwrapper.align_center {
	align-items: center;
	}
.rtl .w-vwrapper.align_right,
body:not(.rtl) .w-vwrapper.align_left {
	align-items: flex-start;
	}
.rtl .w-vwrapper.align_left,
body:not(.rtl) .w-vwrapper.align_right {
	align-items: flex-end;
	}

.w-vwrapper.valign_middle {
	justify-content: center;
	}
.w-vwrapper.valign_bottom {
	justify-content: flex-end;
	}
	.w-vwrapper > *:not(:last-child) {
		margin-bottom: var(--vwrapper-gap, 0.7rem);
		}

/* Full Width elements (like Button) inside Wrapper */
.w-vwrapper > .align_justify {
	width: 100%;
	}
