/* US Builder Preview css
-------------------------------------------------------------------*/

/* Disable Query Monitor */
#query-monitor-main {
	display: none !important;
	}

@font-face {
	font-family: 'UI icons';
	font-style: normal;
	font-weight: 400;
	src: url(../../../assets/ui-icons.woff) format("woff");
	}
.ui-icon_copy:before {
	content: '\e90d';
	font-family: 'UI icons';
	vertical-align: top;
	}
.ui-icon_duplicate:before {
	content: '\e900';
	font-family: 'UI icons';
	vertical-align: top;
	}
.ui-icon_delete:before {
	content: '\e903';
	font-family: 'UI icons';
	vertical-align: top;
	}

/* Always show a scroll bar to avoid shifting on hover */
body.usb_preview {
	overflow-y: scroll;
	}

/* Disable all links and unwanted click events in the preview area */
body.usb_preview [data-usbid] a:active,
body.usb_preview [data-usbid] input,
body.usb_preview [data-usbid] select,
body.usb_preview [data-usbid] textarea,
body.usb_preview [data-usbid] button:not([class*=w-tabs-]),
body.usb_preview [data-usbid] .w-video *,
body.usb_preview [data-usbid] .woocommerce-shipping-methods,
body.usb_preview [data-usbid] .w-message-close,
body.usb_preview .w-scroller .w-scroller-dots,
[data-usbid] input[type=button],
[data-usbid] input[type=submit],
[data-usbid] .woocommerce-form .button {
	pointer-events: none;
	}

/* Enable some disabled links for correct work or better UX */
body.usb_preview.usb_content_ready .l-header .w-nav a,
body.usb_preview.usb_content_ready .l-header .w-menu a,
body.usb_preview.usb_content_ready [data-usbid] a.w-flipbox, /* TODO: remove this in #3277 */
body.usb_preview.usb_content_ready [data-usbid] .w-tabs-section,
body.usb_preview.usb_content_ready [data-usbid] .w-tabs-item {
	pointer-events: auto !important;
	}

/* Indicate empty elements in editable area only */
body.usb_preview [data-usbid].w-btn-wrapper,
body.usb_preview [data-usbid].w-contacts,
body.usb_preview [data-usbid].w-text,
body.usb_preview [data-usbid].w-filter,
body.usb_preview [data-usbid].w-tabs,
body.usb_preview [data-usbid].w-post-elm,
body.usb_preview [data-usbid].w-hwrapper,
body.usb_preview [data-usbid].w-vwrapper,
body.usb_preview [data-usbid] .w-tabs-section-content-h,
body.usb_preview [data-usbid] .vc_column-inner,
body.usb_preview [data-usbid] .wpb_text_column,
body.usb_preview [data-usbid^=us_carousel],
body.usb_preview [data-usbid^=us_grid],
body.usb_preview [data-usbid^=us_page_block],
body.usb_preview [data-usbid*=woocommerce_] {
	min-height: 28px;
	}
body.usb_preview [data-usbid^=us_page_block]:empty,
body.usb_preview [data-usbid].w-menu:empty,
body.usb_preview [data-usbid].w-contacts:empty,
body.usb_preview [data-usbid] > .w-popup-trigger:empty,
body.usb_preview [data-usbid].w-post-elm:empty,
body.usb_preview [data-usbid].w-pricing:empty,
body.usb_preview [data-usbid] > .w-sharing-list:empty,
body.usb_preview [data-usbid] > .w-socials-list:empty,
body.usb_preview [data-usbid].w-html:empty,
body.usb_preview [data-usbid].w-hwrapper:empty,
body.usb_preview [data-usbid].w-vwrapper:empty,
body.usb_preview [data-usbid] .w-tabs-section-content-h:empty,
body.usb_preview [data-usbid] .vc_column-inner:empty,
body.usb_preview [data-usbid] .wpb_wrapper:empty,
body.usb_preview [data-usbid] .w-wc-notices:empty {
	position: relative;
	min-height: 28px;
	border: 1px dotted;
	}
body.usb_preview [data-usbid] .w-scroller:not(.with_dots) {
	position: static;
	min-height: 28px;
	border: 1px dotted;
	transform: none;
	}
body.usb_preview [data-usbid] .w-popup-trigger:empty {
	display: block;
	}
	body.usb_preview [data-usbid].w-hwrapper:empty:after,
	body.usb_preview [data-usbid].w-vwrapper:empty:after,
	body.usb_preview [data-usbid] .w-tabs-section-content-h:empty:after,
	body.usb_preview [data-usbid] .vc_column-inner:empty:after {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		content: '\f067';
		vertical-align: top;
		font-family: 'fontawesome';
		font-style: normal;
		font-weight: 400;
		line-height: 28px;
		}

/* Improve elements appearance inside Horizontal Wrapper */
body.usb_preview [data-usbid].w-hwrapper > :not(.usb_dropplace):not(.for_usbuilder) {
	min-width: 28px;
	}

/* Force showing the Gravity Form element in the preview */
[data-usbid].gform_wrapper {
	display: block !important;
	}
	
/* Indicate the "Disabled" Row for Live preview */
body:not(.usb_preview) .wpb_row.disabled_for_usb {
	display: none;
	}
.g-cols.wpb_row.disabled_for_usb {
	position: relative;
	}
	.wpb_row.disabled_for_usb:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: repeating-linear-gradient(
			45deg,
			rgba(128,128,128,.35),
			rgba(128,128,128,.35) 30px,
			transparent 30px,
			transparent 60px
		);
		}

/* Highlight invisible separators on hover for better UX */
body.usb_preview [data-usbid].w-separator:not(.with_line):hover {
	position: relative;
	}
	body.usb_preview [data-usbid].w-separator:not(.with_line):hover:after {
		content: '';
		position: absolute;
		top: 1px;
		left: 1px;
		right: 1px;
		bottom: 1px;
		background: repeating-linear-gradient(
			135deg,
			rgba(0,0,0,0.08),
			rgba(0,0,0,0.08) 10px,
			rgba(255,255,255,0.08) 10px,
			rgba(255,255,255,0.08) 20px
			);
		}

/* Builder Hover Panel
--------------------------------------------------------------------------*/
.usb-builder-hover {
	display: none;
	pointer-events: none;
	position: absolute;
	z-index: 11111;
	}
	.usb-builder-hover-h {
		height: 100%;
		border: 1px solid #090;
		}
		.usb-builder-hover-h:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-width: inherit;
			border-style: dashed;
			border-color: #fff;
			}
	/* For elements in edit mode */
	.usb-builder-hover.usb_editable {
		display: block !important;
		}
		.usb-builder-hover.usb_editable:not([style*="block"]) .usb-builder-hover-panel {
			display: none;
			}

.usb-builder-hover-panel {
	display: flex;
	line-height: 28px;
	height: 28px;
	pointer-events: auto !important;
	position: absolute;
	overflow: hidden;
	right: 0;
	border-bottom-left-radius: 5px;
	-webkit-user-select: none;
	user-select: none;
	white-space: nowrap;
	background: #090;
	color: #fff;
	}
	.usb-builder-hover-panel-name,
	.usb-builder-hover-panel-edit {
		display: none;
		font-size: 10px;
		padding: 0 8px;
		}
	.usb-builder-hover-panel-btn {
		cursor: pointer;
		flex-shrink: 0;
		text-align: center;
		font-size: 12px;
		height: 28px;
		width: 28px;
		}
		.usb-builder-hover.usb_disable_controls .usb-builder-hover-panel-btn {
			display: none !important;
			}
	.usb-builder-hover-panel-btn:hover,
	.usb-builder-hover-panel-edit:hover {
		background-color: rgba(0,0,0,0.3) !important;
		}
	.usb-builder-hover-panel-edit {
		color: inherit !important;
		}
	.usb-builder-hover-panel-btn.type_copy {
		display: none;
		}
		.usb-builder-hover-panel-btn.type_copy.copied {
			background: #00a32a !important;
			}

	/* Display name for containers */
	.usb-builder-hover.elm_us_footer .usb-builder-hover-panel-edit,
	.usb-builder-hover.elm_us_header .usb-builder-hover-panel-edit,
	.usb-builder-hover.elm_us_page_block .usb-builder-hover-panel-edit,
	.usb-builder-hover.elm_vc_row .usb-builder-hover-panel-name,
	.usb-builder-hover.elm_vc_row > .usb-builder-hover-panel .type_copy,
	.usb-builder-hover.elm_vc_row_inner .usb-builder-hover-panel-name,
	.usb-builder-hover.elm_vc_tta_accordion .usb-builder-hover-panel-name,
	.usb-builder-hover.elm_vc_tta_section .usb-builder-hover-panel-name,
	.usb-builder-hover.elm_vc_tta_tabs .usb-builder-hover-panel-name,
	.usb-builder-hover.elm_vc_tta_tour .usb-builder-hover-panel-name {
		display: block;
		}

	/* Display symbol for Column/Inner Column instead of names */
	.usb-builder-hover.elm_vc_column .usb-builder-hover-panel-name,
	.usb-builder-hover.elm_vc_column_inner .usb-builder-hover-panel-name {
		display: block;
		font-size: 0;
		padding: 0;
		text-align: center;
		width: 28px;
		}
		.usb-builder-hover.elm_vc_column .usb-builder-hover-panel-name:before,
		.usb-builder-hover.elm_vc_column_inner .usb-builder-hover-panel-name:before {
			content: '\25E7';
			display: block;
			font-weight: 700;
			font-size: 15px;
			}

	/* Display symbols for Hor/Ver Wrappers instead of names */
	.usb-builder-hover.elm_us_hwrapper .usb-builder-hover-panel-name,
	.usb-builder-hover.elm_us_vwrapper .usb-builder-hover-panel-name {
		display: block;
		font-size: 0;
		}
		.usb-builder-hover.elm_us_hwrapper .usb-builder-hover-panel-name:before {
			content: '\2022\2022\2022';
			display: block;
			font-size: 10px;
			}
		.usb-builder-hover.elm_us_vwrapper .usb-builder-hover-panel-name:before {
			content: '\2022\2022\2022';
			display: block;
			font-size: 10px;
			transform: rotate(90deg);
			}

	/* Disable duplicate button for page scroll */
	.elm_us_scroller .ui-icon_duplicate {
		display: none;
		}

/* UX improvement when the element width is less then hover panel */
.usb-builder-hover.small:not(.elm_us_scroller) > .usb-builder-hover-panel {
	left: 100%;
	right: auto;
	border-bottom-left-radius: 0;
	}

/* UX improvement when hover on Row panel */
.elm_vc_row:before {
	content: '';
	position: absolute;
	top: 100%;
	left: 25%;
	width: 50%;
	height: 40px;
	pointer-events: auto;
	}
.elm_vc_row > .usb-builder-hover-panel {
	top: 100%;
	left: 50%;
	right: auto;
	border-radius: 0 0 5px 5px;
	transform: translateX(-50%);
	background: #277cea;
	}
.elm_vc_column > .usb-builder-hover-panel {
	left: 0;
	right: auto;
	bottom: 100%;
	border-radius: 5px 5px 0 0;
	background: #277cea;
	}
.elm_vc_row > .usb-builder-hover-h,
.elm_vc_column > .usb-builder-hover-h {
	border-color: #277cea;
	}
.elm_vc_row > .usb-builder-hover-h {
	border-width: 2px;
	}
.elm_vc_row_inner > .usb-builder-hover-panel {
	top: 100%;
	border-radius: 0 0 5px 5px;
	background: #7c5cff;
	}
.elm_vc_column_inner > .usb-builder-hover-panel {
	bottom: 100%;
	border-radius: 5px 5px 0 0;
	background: #7c5cff;
	}
.elm_vc_row_inner > .usb-builder-hover-h,
.elm_vc_column_inner > .usb-builder-hover-h {
	border-color: #7c5cff;
	}

.elm_vc_tta_tabs > .usb-builder-hover-panel,
.elm_vc_tta_tour > .usb-builder-hover-panel,
.elm_vc_tta_accordion > .usb-builder-hover-panel {
	bottom: 100%;
	left: 50%;
	right: auto;
	border-radius: 5px 5px 0 0;
	transform: translateX(-50%);
	background: #f2a200;
	}
.elm_vc_tta_section > .usb-builder-hover-panel {
	left: 0;
	right: auto;
	border-radius: 0 0 5px 0;
	background: #f2a200;
	}
.elm_us_hwrapper > .usb-builder-hover-panel,
.elm_us_vwrapper > .usb-builder-hover-panel {
	top: 100%;
	left: 0;
	right: auto;
	border-radius: 0 0 5px 5px;
	background: #f2a200;
	}
.elm_vc_tta_tabs > .usb-builder-hover-h,
.elm_vc_tta_tour > .usb-builder-hover-h,
.elm_vc_tta_accordion > .usb-builder-hover-h,
.elm_vc_tta_section > .usb-builder-hover-h,
.elm_us_hwrapper > .usb-builder-hover-h,
.elm_us_vwrapper > .usb-builder-hover-h {
	border-color: #f2a200;
	}

/* UX improvement when hover on Header/Footer area */
.elm_us_header > .usb-builder-hover-panel,
.elm_us_footer > .usb-builder-hover-panel {
	background: #666;
	}
.elm_us_header > .usb-builder-hover-h,
.elm_us_footer > .usb-builder-hover-h {
	border-color: #666;
	border-width: 2px;
	}

/* Preloader
--------------------------------------------------------------------------*/
.usb-elm-loading {
	opacity: 0.5;
	}
.g-preloader.for_usbuilder {
	display: block;
	margin: 0 auto;
	font-size: 20px;
	color: inherit !important;
	}
.l-main > .g-preloader.for_usbuilder:first-of-type,
.l-section ~ .g-preloader.for_usbuilder {
	font-size: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	}
.w-tabs.layout_hor .g-preloader.for_usbuilder {
	margin: 0 !important;
	}

/* Drag & Drop improvements
--------------------------------------------------------------------------*/

body.usb_dragging * {
	-webkit-user-select: none !important;
	user-select: none !important;
	}

body.usb_dragging .l-header,
body.usb_dragging .l-footer {
	pointer-events: none;
	}

/* Fix for Drag & Drop issue in Firefox */
body.usb_preview .usb_firefox_clip {
	pointer-events: none;
	}
body.usb_preview [data-usbid].usb_firefox_clip {
	overflow: clip !important;
	pointer-events: auto;
	}

.usb_transit {
	pointer-events: none !important;
	opacity: .5 !important;
	}

.usb_dropcontainer {
	box-shadow: inset 0 0 0 1px #277cea,
	0 0 0 1px #277cea !important;
	}
	.usb_dropplace {
		position: relative;
		z-index: 111;
		height: 0;
		width: 100%;
		}
		.usb_dropplace:before {
			background: #277cea;
			content: '';
			position: absolute;
			top: -3px;
			bottom: -3px;
			right: 0;
			left: 0;
			}
		/* Enlarge for Rows */
		[data-usbid=container] > .usb_dropplace:before {
			top: -15px;
			bottom: -15px;
			}

/* Change color indication for container types */
.wpb_row > .usb_dropcontainer {
	box-shadow: inset 0 0 0 1px #7c5cff,
	0 0 0 1px #7c5cff !important;
	}
	.wpb_row > .usb_dropcontainer > .vc_column-inner > .usb_dropplace:before,
	.wpb_row > .usb_dropcontainer > .vc_column-inner > div > .usb_dropplace:before {
		background: #7c5cff;
		}
.w-vwrapper.usb_dropcontainer,
.w-hwrapper.usb_dropcontainer,
.w-tabs.usb_dropcontainer,
.w-tabs-item.usb_dropcontainer,
.w-tabs-section.usb_dropcontainer {
	box-shadow: inset 0 0 0 1px #f2a200,
	0 0 0 1px #f2a200 !important;
	}
	.w-vwrapper > .usb_dropplace:before,
	.w-hwrapper > .usb_dropplace:before,
	.w-tabs-list-h > .usb_dropplace:before,
	.w-tabs-sections > .usb_dropplace:before,
	.w-tabs-section > div > div > .usb_dropplace:before {
		background: #f2a200;
		}
		
/* Vertical Wrapper Drag & Drop fixes */
.w-vwrapper.usb_dropcontainer > .usb_dropplace {
	margin: 0;
	}
.w-vwrapper.usb_dropcontainer > * + .usb_dropplace:last-child {
	margin-top: calc( -1 * var(--vwrapper-gap, 0.7rem) );
	}

/* Horizontal Wrapper Drag & Drop fixes */
.w-hwrapper.usb_dropcontainer > .usb_dropplace {
	margin: 0;
	height: 100%;
	width: 0;
	}
	.w-hwrapper .usb_dropplace:before {
		top: 0;
		bottom: 0;
		right: -3px;
		left: -3px;
		}

/* Tabs (horizontal) Drag & Drop fixes */
.w-tabs-list-h .usb_dropplace {
	margin: 0;
	height: auto;
	width: auto;
	}
	.w-tabs.layout_hor .w-tabs-list-h .usb_dropplace:before {
		top: 0;
		bottom: 0;
		right: -3px;
		left: -3px;
		}

body.usb_preview .w-tabs.layout_hor .w-tabs-item {
	cursor: ew-resize;
	}
body.usb_preview .w-tabs.layout_ver .w-tabs-item {
	cursor: ns-resize;
	}
.w-tabs.layout_ver .w-tabs-list-h .usb_dropplace {
	width: 100%;
	}
